body{
    text-align: center;
    background-image: url("https://wallpaperaccess.com/full/2961778.jpg");
    background-size: cover;
    padding-top:20px;
}
h1{
    color:rgb(39, 89, 110);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#in{
height:50px;
width:300px;
border-radius: 15px;
padding-left: 30px;
border:none;
/*box-shadow: 2px 2px 5px black;*/

}
button{
    background-color: rgb(39,89,110);
    color:white;
    height:50px;
    width:90px;
    border-radius: 50px;
    border:none;
    box-shadow: 2px 2px 5px black;
}
button:hover{
background-color: rgb(0,0,0);
}

#output{
    color:rgb(20, 108, 148);
    font-style: italic;
    font-weight: 700;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}